* {
  margin: 0;
  padding: 0;
}

header,
footer,
section,
aside,
nav,
article {
  display: block;
}
#intro {
  background: #467612 url("images/intro_background.png") repeat-x;
  background-size: 100%;
  padding: 20px;
}
@media (max-width: 767px) {
  #intro {
    width: 100%;
    max-height: 400px;
  }
}

#intro h2,
#intro p {
  z-index: 9999;
}
#intro img {
  top: 0;
  right: -12px;
}
#intro p {
  color: #d9f499;
}
#intro h2 {
  color: #fff;
}
#content {
  display: table;
}
aside section ul li a {
  display: block;
  text-decoration: none;
  color: #000;
}
aside section ul li a:hover {
  text-decoration: underline;
}

.blogPost header p a:hover {
  text-decoration: none;
  color: #000;
}
.blogPost header p,
.blogPost header p a {
  font-size: 14px;
  font-style: italic;
  color: #777;
}
#comments {
  padding-top: 22px;
}
#comments article:nth-child(odd) {
  padding: 21px;
  background: #e3e3e3;
}
#comments article header a:hover {
  text-decoration: none;
}
footer div {
  color: #777;
}
footer a {
  color: #999;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

